footer {
    margin-top: 15px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer img {
    width: 3.8vw;
    height: 3.8vw;
    margin: 0 5px;
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(98%) contrast(92%)
}

footer > div {
    padding: 7px 0;
}

footer p {
    font-size: .75rem;
    line-height: .875rem;
}

@media (min-width: 834px) {

    footer {
        margin-top: 56.02px;
    }

    footer img {
        width: 3.59vw;
        height: 3.59vw;
        margin: 0 7px;
    }

    footer > div {
        padding: 40px 0;
    }

    footer p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1512px) {

    footer img {
        width: 1.98vw;
        height: 1.98vw;
        margin: 0 10px;
    }
}