
aside {
    display: none;
}

aside {
    position: fixed;
    width: 26.25%;
    height: 100vh;
    padding-top: 80px;
    padding-left: 55px;
    top: 126px;
    left: 0;
    background-color: #FFFFFF;
    border-right: 3px solid #BFBFBF;
    z-index: 1;
}

aside nav {
    margin-top: 30px;
}

.sidebar-title {
    width: fit-content;
    padding-bottom: 32px;
    border-bottom: 3px #AACE9B solid;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.198rem;
}


aside nav li {

    width: 26.2566138vw;
    margin-left: -3.63vw;
    padding: 36px 0 36px 55px;
    border-bottom: 1px solid #CDCCCC;
    font-size: 1.875rem;
    line-height: 2.198rem;
}

#sidebar-contact {
    margin-top: 30px;
}

#sidebar-contact > div {
    margin-top: 30px;
}

#sidebar-contact > div > div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#sidebar-contact img {
    width: 2vw;
    height: 2vw;
    margin-right: 30px;
}

#sidebar-contact a {
    font-size: 25px;
    line-height: 29px;
}

#email {
    text-decoration: underline
}

@media (min-width: 1512px) {
    
    aside {
        display: block;
    }
}