
#feature-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.feature-icon:nth-child(1), .feature-icon:nth-child(2) {
    margin-bottom: 30px;
}

.feature-icon {
    display: flex;
    align-items: center;
    width: 45%;
}

 .feature-icon > img {
    width: 10.25vw;
    margin-right: 5px;
    padding: 3vw;
    border: solid 1px #AACE9B;
    border-radius: 5px;
}

.feature-icon > h3 {
    font-weight: 700;
}
