#final-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.4vw;
}

#final-section > div {
    width: fit-content;
}

#final-section h4 {
    margin-bottom: 3.8vw;
    font-weight: 700;
    text-transform: uppercase;

}

#final-section > div:nth-child(2) {
    padding: 0 7.7vw ;
    border-left: solid 2px #909090;
    border-right: solid 2px #909090;
}
