header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background: #AACE9B;
    z-index: 1;
}

header > img {
    width: 10px;
    margin-left: 10px; 
}

header div {
    position: relative;
    display: flex;
    align-items: center;
    width: 39.23%; 
    height: 50%; 
    margin: 0 auto;
}

#search-img {
    position: absolute;
    height: 60%; 
    margin-left: 5px; 
    z-index: 2;
}

header  input {
    width: 100%;
    height: 100%;
    background: #FAFBFD;
    border: 1px solid #AACE9B;
    border-radius: 50px;
} 

@media (min-width: 1512px) {

    header {
        height: 126px;
    }

    header > img {
        display: none;
    }

    header div {
        width: 24.93%;
        height: 28.57%;
    }
}