#history > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#history > div > div{
    /* max-width: 450px; */
    margin: 20px 0 ;
    text-align: justify;
}

#history  img {
    /* max-width: 450px; */
    padding: 0 23px;
    flex-shrink: 0;
    flex-grow: 1;
}