#reasons-why > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    margin-top: 15px;
}

#reasons-why > div > img {
    flex-grow: 1;
    max-width: 330px;
}

#reasons-why li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 700;
} 

#reasons-why li img {
    width: 1.56vw;
    margin-right: 9px;
}

#reasons-why li:last-child {
    margin-bottom: 0;
}