@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-weight: 400;
    font-size: .75rem;
    line-height: .875rem;
    text-decoration: none;
    color: #373867;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    border-bottom: solid 3px #AACE9B;
}

/* Different sections classes */

.container {
    width: 85%;
    margin: 30px auto 0;
}

.subtitle {
    width: fit-content;
    padding: 0 0 5px;
    border-bottom: solid #AACE9B 2px;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1rem;
}


@media (min-width: 1512px) {
    
    main, footer { 
        margin-left: 26.25%;
    }
}